.container{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    height: 100vh;
    width: 80%;

    box-sizing: border-box;
    padding: 3rem 0;
}

/* first section  */
.welcome{
    background-color: #f2f4f5;
    padding: 0.2rem 2rem;
    width: 90%;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.welcome-text{
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}
.info{
    font-size: 1.2rem;
    font-weight: 500;
}


/* first section: cards  */
.cards{
    display: flex;
    gap: 1rem;
}
.card{
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 200px;
    padding: 1rem;
}
.number{
    background-color: rgb(161, 161, 161);
    color: white;
    margin-bottom: 1rem;
    width: fit-content;
    padding: 0.3rem 0.6rem;
    border-radius: 50%;
}
.card-text{
    font-size: 1rem;
    color: rgb(161, 161, 161);
}

/* second section: content  */
.content-container{
    background-color: #f2f4f5;
    padding: 0 2rem;
    width: 90%;
}
.content{
    background-color: white;
    padding: 1rem 0;
    display: flex;
    flex-direction: row;
    gap: 3rem;
}
.img-container{
    width: 35%;
    display: flex;
    justify-content: center;
}
.img{
    width: 70%;
}
.subsection{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.header{
    font-size: 1.4rem;
    font-weight: 500;
}
.points{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.points>.number{
    margin-bottom: 0;
}
.point-text{
    color: rgb(161, 161, 161);
}
